/* Estilos básicos para el modal */
.modal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .modal-actions button {
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* Botón de cancelar (rojo) */
  .modal-actions button:first-child {
    background-color: #dc3545;
    color: white;
  }
  
  .modal-actions button:first-child:hover {
    background-color: #c82333; 
  }
  
  .modal-actions button:first-child:active {
    background-color: #a71d2a; 
  }
  
  /* Botón de guardar (verde) */
  .modal-actions button:last-child {
    background-color: #28a745; 
    color: white;
  }
  
  .modal-actions button:last-child:hover {
    background-color: #218838; 
  }
  
  .modal-actions button:last-child:active {
    background-color: #1e7e34; 
  }


