.paginacion1 {
  display: flex; /* Permite usar flexbox para centrar elementos hijos */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  max-width: 2500px;
  margin: 0 auto;
  padding: 50px 0;
}

.card {
  width: 400px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 28px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  overflow: hidden; /* Asegura que el contenido no sobresalga */
  position: relative; /* Necesario para posicionar el fondo interno */
  transition: transform 0.2s, box-shadow 0.2s, background-color 0.3s, border-color 0.3s;
}


.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  background-color: #f5f5f5;
  border-color: #f9b234;
}

.card-title {
  min-height: 30px;
  margin: 0 0 10px; /* Reducir margen inferior */
  font-weight: bold;
  font-size: 30px;
  color: #000000;
}

.card-section {
  margin: 5px 0; /* Reducir margen superior e inferior */
}

.card-date-box {
  font-size: 18px;
  color: #fff;
}

.card-date {
  font-weight: bold;
  color: #a8700e;
  transition: color 0.5s ease;
}

.card-link {
  text-decoration: none;
  color: #f9b234;
}

.card-link:hover .card-date {
  color: #fff;
}

.ag-courses_item {
  position: relative;
  margin: 10px;
  flex-basis: calc(33.33333% - 30px);
}

.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #121212;
  overflow: hidden;
  position: relative;
}

/* Estilo del botón circular */
.circular-button {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
  background-color:  rgb(4, 28, 76);
  color: white;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.circular-button:hover {
  background-color: #e07500;
}

/* Estilo para las secciones dentro del card */
.card-section {
  margin: 10px 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

.ag-courses-item_bg {
  height: 2vw; /* Usar un valor relativo al ancho de la pantalla */
  width: 2vw;  /* Usar un valor relativo al ancho de la pantalla */
  background-color: rgb(4, 28, 76);
  position: absolute;
  top: 0vw;  /* Ajustar para asegurar que se vea bien en pantallas más pequeñas */
  right: 2vw; /* Ajustar para asegurar que se vea bien en pantallas más pequeñas */
  border-radius: 50%;
  z-index: 1; /* Debe estar detrás del texto */
  transition: all 0.5s ease;
}
.card-title, .card-date-box {
  position: relative;
  z-index: 1; /* Mantén el texto sobre el fondo */
}

/* Media Queries */
@media (max-width: 979px) {
  .ag-courses_item {
    flex-basis: calc(50% - 30px);
  }

  .card-title {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .card {
    width: 100%;
  }

  .card-container {
    gap: 10px;
    padding: 10px;
  }

  /* Modificar para que los items se muestren en una columna */
  .ag-courses_item {
    flex-basis: 100%;
  }

  /* Modificar el tamaño de los títulos para pantallas más pequeñas */
  .card-title {
    font-size: 24px;
  }

  .ag-courses-item_link {
    padding: 22px 40px;
  }
}

@media (max-width: 639px) {
  .ag-courses_item {
    flex-basis: 100%;
  }

  .card-title {
    font-size: 24px;
  }

  .ag-courses-item_link {
    padding: 22px 40px;
  }
}
