/* MenuDerecha.css */
.menuDerecha {
    width: 250px;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #2d55d9;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
  }
  
  .menuDerecha h3 {
    margin-bottom: 20px;
  }
  
  .menuDerecha div {
    margin-bottom: 15px;
  }
  
  .menuDerecha label {
    display: block;
    margin-bottom: 5px;
  }
  
  .menuDerecha input,
  .menuDerecha select {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .menuDerecha button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .menuDerecha button.saveButton {
    background-color: #4caf50;
    color: white;
    fill: #4caf50;
  }
  
  .menuDerecha button.deleteButton {
    background-color: #f44336;
    color: white;
    fill: #f44336;
  }
  
  .menuDerecha button.closeButton {
    background-color: #9e9e9e;
    color: white;
  }
  

  .menu-container {
    background-color: rgb(4, 28, 76);
    border-left: rgb(0, 0, 0) solid ;
    border-top-left-radius: 10%;

  }
  .xyinput-group {
    display: flex;
    gap: 20px; /* Espacio entre las parejas de inputs */
    margin-bottom: 3px;
  }
  
  .xy {
    display: flex;
    flex-direction: column; /* Hace que los label y los input estén apilados */
    align-items: center; /* Centra el label e input horizontalmente */
  }
  
  .xy label {
    margin-bottom: 5px; /* Espacio entre el label y el input */
    margin-top: 5px;
  }
  
  .xy input {
    width: 60px; /* Ajusta el ancho de los inputs si es necesario */

  }
  