.mapa-container {
    max-width: 1350px;
    max-height: 600px;
    width: 100%;
    height: auto;
    margin-top: 6%;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    padding: 1%;
    background-color: #f0f0f0;
    overflow: auto;
}

/* Contenedor de los controles de zoom */
.zoom {
    max-height: 5%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.zoom button {
    font-size: 14px;
    padding: 6px 10px;
}

/* Ajuste para el contenedor del mapa */
.mapa {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

/* Asegura que el Stage ocupe todo el contenedor */
.stage {
    width: 100%;
    height: 100%;
}

/* Ajusta el canvas dentro del mapa */
.mapa canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
}

/* Responsividad para pantallas pequeñas (celulares) */
@media screen and (max-width: 768px) {
    .mapa-container {
        margin-top: 10%;
        margin-left: 2%;
        height: 500%;
        margin-right: 2%;
        padding: 0.5%;
        max-width: 100%;
        max-height: 400px; /* Reduce la altura del contenedor en pantallas más pequeñas */
    }

    .zoom {
        margin-bottom: 5px;
        justify-content: space-between;
    }

    .zoom button {
        font-size: 14px;
        padding: 6px 10px;
    }

    .mapa {
        height: auto;
    }

    .stage {
        width: 412;
        height: 300px; /* Ajusta la altura del canvas para que se vea mejor en pantallas más pequeñas */
    }

}

/* Para pantallas de teléfono más pequeñas */
@media screen and (max-width: 480px) {
    .mapa-container {
        margin-top: 15%; /* Aumenta el espacio superior para pantallas más pequeñas */
        margin-left: 0;
        margin-right: 0;
        padding: 0.5%;
        max-width: 100%;
        max-height: 250px; /* Reduce aún más la altura del mapa en pantallas muy pequeñas */
    }

    .zoom {
        margin-bottom: 5px;
        justify-content: space-between;
    }

    .zoom button {
        font-size: 12px;
        padding: 4px 8px;
    }

    .stage {
        width: 100%;
        height: 200px; /* Ajusta la altura aún más para móviles muy pequeños */
    }


}
