


.programa-container {

    width: 100%;
    margin: auto;
    margin-bottom: 5%;

} 

.programa {

    display: flex;
    width: 97%;
    margin: auto;
}
.programa span {
    
    margin-top: 3%;
    width: 15%;
    border-bottom: black solid 1px;
}



