.Nav_bar { 
    top: 0;
    left: 0;
    width: 100vw; /* Asegura que el ancho sea el de la ventana completa */
    max-height: 2.5rem;
    padding: 2.5rem;
    background-color: rgb(4, 28, 76);
    z-index: 1000;
    color: azure;
    box-sizing: border-box;
    display: block;
    position: fixed;
}


.Nav_item{
    list-style: none;
    display: flex;
    justify-content: flex-end; /* Alinear los elementos a la derecha */
    margin: 0;
    padding: 0;
    width: 100%; /* Asegura que el ul ocupe todo el ancho */
}

.Nav_item li {
    display: inline-block;
    margin-left: 1rem;
   
}

/*ffiltrosssssssssssssssssssss */
.box_filtro {
    margin-top: 2.5rem;
    width: 30%;
    margin-left: 1rem;
    margin-right: 1rem;
    border: 3px solid;
    border-color: black;
 
 
}

.Filtros_base {
    list-style: none;
    justify-content: center;
    text-align: start;
    
    
    }


    /* div de feriassssssssssss */
.ferias {
    list-style: none;
    width: 70%;
    box-sizing: border-box;
    margin-left: 1rem;
    margin-right: 1rem;
    align-items: center;
    box-sizing: border-box;
    color: red;
    

    }
      
.container{
display: flex;

}

.card {
    list-style: none;
    width: 90%;
    border: 1px solid #ccc; /* Borde de la tarjeta */
    border-radius: 8px; /* Bordes redondeados */
    padding: 16px; /* Espacio interno */
    margin: 10px; /* Espacio externo entre tarjetas */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra */
    background-color: #fff; /* Color de fondo */
    text-align: center; /* Centrar texto */
    justify-content: center;
    margin-right: 2rem;
    color:black;
  }

  
  
  
 
    